*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
.green-background-color-1{
    background-color: #ccffd7;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 10px;
}
.hospital-logo-top-side{
    height: 100px;
    width: 100px;
}
.top-heading-name-ss{
  padding-top: 8px;
  text-align: center;

}
.ujur-logo-ss{
    height: 100px;
    width: 100px;
}
.middle-names-section{

    padding: 10px 40px;
}
.flexible-items{
    display: flex;
    justify-content: space-between;
}
.flexible-items-2{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-between;
    flex-direction: column;
}
.flexible-items-3{
    display: flex;
    padding-bottom: 12px;
    justify-content: space-between;
    flex-direction: column;
}
.names-address-section{
    min-height: 25rem;
    border-top: 0.5px solid black;
    border: 0.5px solid black;
    display: flex;
    border-left: 0rem !important;
    border-right: 0rem !important;
    border-bottom: 0rem !important;
}
.right-side-border{
    /* border-right: 0.5px solid black; */
    padding: 10px;
    padding-bottom: 2rem;
    width: 30%;
    text-wrap: wrap;
}
.ul-list-dot{
    padding-left: 20px;
}
.top-n{
    margin-top: 8px;
}
.rx-top{ 
    padding: 12px;
}
.tabletss{
    margin-top: 5px;
    padding-left: 8px;
}
.absolute-sign{
    position: absolute;
    right: "2rem";
}
.green-background-color-2{
    background-color: #ccffd7;
    display: flex;
    justify-content: end;
    gap: 50px;
}
.text-bottom{
    display: flex;
    align-items: end;
}
.images-low{
    height: 100px;
}
.images-low-1{
    height: 40px;
}
.absolute-images-bottom{
    display: flex;
}
.something{
    text-align: center;
}



.element-to-avoid-break {
    /* page-break-inside: avoid; */
  }




  
  .names-address-section {
    position: relative;
  }
  
  .watermark {
    position: absolute;
    font-family: system-ui;
    top: 15%;
    left: 13%;
    transform: rotate(-30deg);
    font-size: 13rem;
    color: rgba(0, 0, 0, 0.031);
    z-index: 1;
    pointer-events: none;
    white-space: nowrap;
    font-weight: 800;
}
  
  .right-side-border,
  .left-border-section {
    position: relative; 
    z-index: 2; 
  }
  .right-side-border{
    border-right: 1px solid;
    word-break: break-all;
  }